@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');


body {
  font-family: 'Lobster Two';
  background-color: #ffb6c1 ;
  font-size: 1.5em;
  color: #8B0000;
}

img {
  border-radius: 10%;
}

.home-page input,
.home-page button {
  border-radius: 10%;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.outfit-display.magnify img {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}
.congrats {
  color: green;
  font-size: 1.5em;
  margin-top: 10px;
  animation: fadeIn 1s;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Form & Button Styles */
input[type="text"], input[type="file"] {
  border: 2px solid #8B0000;
  border-radius: 8px;
  padding: 10px;
  width: 60%;
  max-width: 300px;
  background-color: #fff0ff;
}

button {
  background-color: #8B0000; /* Light purple */
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  margin: 10px;
  transition: 0.3s;
}



